<div class="col-sm-12 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="Differential count of White Blood Cells"
    class="form-control"
    readonly
  />
</div>
<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="Test"
    class="form-control"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="Result"
    class="form-control"
    readonly
  />
</div>
<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="Reference Value"
    class="form-control"
    readonly
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    class="form-control"
    style="text-align: center"
    value="Segmenters"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    class="form-control"
    name="segmenters"
    data-type="result"
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="56.00"
    class="form-control"
    readonly
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    class="form-control"
    style="text-align: center"
    value="Lymphocytes"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    class="form-control"
    name="lymphocytes"
    data-type="result"
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="34.00"
    class="form-control"
    readonly
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    class="form-control"
    style="text-align: center"
    value="Eosinophils"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    class="form-control"
    name="eosinophils"
    data-type="result"
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="02.70"
    class="form-control"
  />
</div>
<div class="col-sm-5 mt-3">
  <input
    type="text"
    class="form-control"
    style="text-align: center"
    value="Monocytes"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    class="form-control"
    name="monocytes"
    data-type="result"
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="04.00"
    class="form-control"
  />
</div>
<div class="col-sm-5 mt-3">
  <input
    type="text"
    class="form-control"
    style="text-align: center"
    value="Basophils"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    class="form-control"
    name="basophils"
    data-type="result"
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="00.30"
    class="form-control"
  />
</div>
<div class="col-sm-5 mt-3">
  <input
    type="text"
    class="form-control"
    style="text-align: center"
    value="Bands"
    readonly
  />
</div>
<div class="col-sm-2 mt-3">
  <input
    type="text"
    style="text-align: center"
    class="form-control"
    name="bands"
    data-type="result"
  />
</div>

<div class="col-sm-5 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="03.00"
    class="form-control"
  />
</div>
