<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="dashboard.php">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link" href="patient-table.php">
        <svg
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M16 8c0 2.21-1.79 4-4 4s-4-1.79-4-4 1.79-4 4-4 4 1.79 4 4ZM4 18c0-2.66 5.33-4 8-4s8 1.34 8 4v2H4v-2Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        &nbsp;<span>Patient</span></i>
      </a>
      
    </li>
    <!-- End Components Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#component-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-file-text"></i>
        &nbsp;<span>Medical Laboratory</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="component-nav"
        class="nav-content collapse "
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="Blood-chem.php">
            <i class="bi bi-circle"></i><span>Blood Chemistry</span>
          </a>
        </li>
        <li>
          <a href="blood--chem-sgpt-form.php">
            <i class="bi bi-circle"></i><span>Blood Chemistry and SGPT</span>
          </a>
        </li>
        <li>
          <a href="CBC-form.php">
            <i class="bi bi-circle"></i><span>Complete Blood Count</span>
          </a>
        </li>
        <li>
          <a href="hemoglobin-count.php">
            <i class="bi bi-circle"></i><span>Hemoglobin count</span>
          </a>
        </li>
          <li>
          <a href="hemoglobin-determination-form.php">
            <i class="bi bi-circle"></i><span>Hemoglobin Determination</span>
          </a>
        </li>
        <li>
          <a href="urine-analysis-form.php">
            <i class="bi bi-circle"></i><span>Urine Analysis</span>
          </a>
        </li>
       
      
      
      
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <svg
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1Z"
          ></path>
          <path d="M12 11h4"></path>
          <path d="M12 8h4"></path>
          <path d="M8 20V4"></path>
        </svg>
        &nbsp;<span>Request Form</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="forms-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="add_request.php">
            <i class="bi bi-circle"></i><span>Add Request Form</span>
          </a>
        </li>
        <li>
          <a href="pending_requests.php">
            <i class="bi bi-circle"></i><span>Pending Request Forms</span>
          </a>
        </li>
        <li>
          <a href="request-forms-layouts.php">
            <i class="bi bi-circle"></i><span>Request Forms</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="appointment_forms.php">
        <svg
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.25 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5Zm0-6c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5Zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5Zm3 2.5h14v-2h-14v2Zm0-6h14v-2h-14v2Zm0-8v2h14V5h-14Z"
          ></path>
        </svg>
        &nbsp;<span>Appointments</span>
      </a>
    </li>

    <!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="transaction-logs.php">
        <svg
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.8 6a.6.6 0 0 1 .6.6v10.8a.6.6 0 0 1-.6.6H4.2a.6.6 0 0 1-.6-.6V6.6a.6.6 0 0 1 .6-.6h15.6ZM4.2 4.8a1.8 1.8 0 0 0-1.8 1.8v10.8a1.8 1.8 0 0 0 1.8 1.8h15.6a1.8 1.8 0 0 0 1.8-1.8V6.6a1.8 1.8 0 0 0-1.8-1.8H4.2Z"
          ></path>
          <path
            d="M10.8 9a.6.6 0 0 1 .6-.6h6a.6.6 0 0 1 0 1.2h-6a.6.6 0 0 1-.6-.6ZM9.007 7.975a.6.6 0 0 1 0 .85l-1.8 1.8a.6.6 0 0 1-.85 0l-.6-.6a.6.6 0 1 1 .85-.85l.175.176 1.375-1.376a.6.6 0 0 1 .85 0ZM10.8 13.8a.6.6 0 0 1 .6-.6h6a.6.6 0 1 1 0 1.2h-6a.6.6 0 0 1-.6-.6Zm-1.795-1.025a.6.6 0 0 1 0 .85l-1.8 1.8a.6.6 0 0 1-.85 0l-.6-.6a.6.6 0 1 1 .85-.85l.175.177 1.375-1.377a.6.6 0 0 1 .85 0Z"
          ></path>
        </svg>
        &nbsp;<span>Transaction Logs</span>
      </a>
    </li>
    <!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="archive.php">
        <svg
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="m20.54 5.23-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27ZM12 17.5 6.5 12H10v-2h4v2h3.5L12 17.5ZM5.93 4l-.81 1h13.75l-.94-1h-12Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        &nbsp; &nbsp;
        <span>Archive</span>
      </a>
    </li>
    <!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="admin-profile.php">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <!-- End F.A.Q Page Nav -->

    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="registered_users.php">
        <i class="bi bi-card-list"></i>
        <span>Registered Account</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="services.php">
        <svg
          width="25"
          height="25"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.5 15a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5Z"
          ></path>
          <path d="M6 17a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1H6Z"></path>
          <path d="M7 10.5V9h1v1.5h1.5v1H8V13H7v-1.5H5.5v-1H7Z"></path>
          <path
            fill-rule="evenodd"
            d="M7.5 3A1.5 1.5 0 0 0 6 4.5H4.5A1.5 1.5 0 0 0 3 6v13.5A1.5 1.5 0 0 0 4.5 21h10a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H13A1.5 1.5 0 0 0 11.5 3h-4Zm4 3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h4ZM6 5.5A1.5 1.5 0 0 0 7.5 7h4A1.5 1.5 0 0 0 13 5.5h1.5a.5.5 0 0 1 .5.5v13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5V6a.5.5 0 0 1 .5-.5H6Z"
            clip-rule="evenodd"
          ></path>
          <path
            fill-rule="evenodd"
            d="M18 8.5a1.5 1.5 0 1 1 3 0v10.151l-1.5 2.25-1.5-2.25V8.5Zm1.5-.5a.5.5 0 0 0-.5.5v1h1v-1a.5.5 0 0 0-.5-.5Zm0 11.099.5-.75V10.5h-1v7.849l.5.75Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        &nbsp;
        <span>Services</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <!-- End Login Page Nav -->

    <!-- End Error 404 Page Nav -->

    <!-- End Blank Page Nav -->
  </ul>
</aside>
