<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label">Color</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" name="color" data-type="result" />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">Sugar</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" name="sugar" data-type="result" />
  </div>
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label">Appearance</label>
  <div class="col-sm-4">
    <input
      type="text"
      class="form-control"
      name="appearance"
      data-type="result"
    />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">Albumin</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" name="albumin" data-type="result" />
  </div>
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label"
    >Specific gravity</label
  >
  <div class="col-sm-4">
    <input
      type="text"
      class="form-control"
      name="specific_gravity"
      data-type="result"
    />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">Reaction</label>
  <div class="col-sm-4">
    <input
      type="text"
      class="form-control"
      name="reaction"
      data-type="result"
    />
  </div>
</div>
<div class="col-sm-12 mt-3">
  <input
    type="text"
    style="text-align: center"
    value="Microscopic"
    class="form-control"
    readonly
  />
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label"
    >Sq. Epithelial cells</label
  >
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="sq_epithelial_cells"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">Puss cells</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="puss_cells"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label">Mucous threads</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="mucous threads"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">RBC</label>
  <div class="col-sm-3">
    <input type="text" class="form-control" name="rbc" data-type="result" />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label">Granular cast</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="granular_cast"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">Bacteria</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="bacteria"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label">Hyaline cast</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="hyaline_cast"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label">Calcium oxalate</label>
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="calcium_oxalate"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
</div>
<div class="row mt-3">
  <label for="inputText" class="col-sm-2 col-form-label"
    >Amorphous urates</label
  >
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="amorphous_urates"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
  <label for="inputText" class="col-sm-2 col-form-label"
    >Amor. phosphates</label
  >
  <div class="col-sm-3">
    <input
      type="text"
      class="form-control"
      name="amor_phosphates"
      data-type="result"
    />
  </div>
  <div class="col-sm-1">
    <input type="text" value="/hpf" class="form-control" />
  </div>
</div>
